{% extends "base.html" %}
{% load i18n %}

{% block body_block %}

{% if validlink %}

<form role="form"  method="post" action=".">
{% csrf_token %}
<div class="new-login-left">
<h2 class="form-signin-heading">Velg nytt passord her!</h2>

<div class="form-group">
    <p class="required"><label for="id_new_password1">Nytt passord:</label>
        <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="Velg passord" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_new_password2">Nytt Passord (igjen):</label>
 <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Bekreft passord" /></p>
</div>

<button type="submit" class="btn btn-lg btn-primary btn-block">Oppdater</button>
</div>
</form>

{% else %}

<p>{% trans "Passordnullstillingen feilet" %}</p>

{% endif %}

{% endblock %}
