{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}
{% block body_block %}

<form role="form"  method="post" action=".">
{% csrf_token %}
<div class="new-login-left">
<h2 class="form-signin-heading">Opprett liga her!</h2>

<div class="form-group" >
 <p class="required"> <label for="id_navn">Navn på liga:</label>
     <input class="form-control" id="id_navn" maxlength="30" name="navn" type="text"  placeholder="Velg liganavn"/></p>
</div>
 <div class="form-group selectpicker">
    <p class="required"><label for="tabell">Tabell:</label>
        <select class="form-control" id="tabell" name="tabell" type="selectpicker" placeholder="Velg tabell" /></p>
{% for tabell in tabeller %}
<option value="{{ tabell.id }}">{{ tabell }}</option>
{% endfor %}
</select>
 </div>
<div class="form-group selectpicker">
    <p class="required"><label for="poengregel">Poengregel:</label>
        <select class="form-control" id="poengregel" name="poengregel" type="selectpicker" placeholder="-----" /></p>
{% for poengregel in poengregler %}
<option value="{{ poengregel.id }}">{{ poengregel }}</option>
{% endfor %}
</select>
</div>

<button type="submit" class="btn btn-lg btn-primary btn-block">Opprett</button>
</div>
</form>
{% endblock %}
